ul {
    list-style-type: none;
    display: grid;
    gap: 15px;
}

@media (min-width: 768px) {
    ul {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1024px) {
    ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1280px) {
    ul {
        grid-template-columns: repeat(7, 1fr);
    }
}

.confirm {
    margin:0 auto;
    display:block;
}