p {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: auto;
}

.active {
  color: green;
}

/* .inactive {
  color: white;
} */

.activeIMG {
  background-color: darkgray;
}

/* .inactiveIMG {

} */

.pyro {
  border: 2px solid red;
  border-radius: 10px;
}
.hydro {
  border: 2px solid blue;
  border-radius: 10px;
}
.electro {
  border: 2px solid purple;
  border-radius: 10px;
}
.cryo {
  border: 2px solid rgb(0, 208, 255);
  border-radius: 10px;
}
.anemo {
  border: 2px solid rgb(0, 255, 191);
  border-radius: 10px;
}
.geo {
  border: 2px solid yellow;
  border-radius: 10px;
}
.dendro {
  border: 2px solid green;
  border-radius: 10px;
}
