.selectModal {
  text-align: center;
}

.charsUL {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .charsUL {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .charsUL {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1280px) {
  .charsUL {
    grid-template-columns: repeat(7, 1fr);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.confirm {
  margin-right: 10px;
}
