.selection {
  text-align: center;
}

.active {
  color: rgb(82, 252, 82);
  font-weight: bolder;
}

.inactive {
  font-weight: normal;
  color: white;
}

.pyro {
  border: 2px solid red;
  border-radius: 10px;
}
.hydro {
  border: 2px solid blue;
  border-radius: 10px;
}
.electro {
  border: 2px solid purple;
  border-radius: 10px;
}
.cryo {
  border: 2px solid rgb(0, 208, 255);
  border-radius: 10px;
}
.anemo {
  border: 2px solid rgb(0, 255, 191);
  border-radius: 10px;
}
.geo {
  border: 2px solid yellow;
  border-radius: 10px;
}
.dendro {
  border: 2px solid green;
  border-radius: 10px;
}
