.table {
  width: 100%;
  font-size: large;
  border: 1px solid black;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.table th {
  background-color: #333;
  color: #fff;
}

.table tr:hover {
  background-color: #dddddd31;
}

.portraitImg {
  width: 120px;
}

.character,
.material {
  width: 40%;
}

.domain {
  width: 20%;
}

.displayText {
  font-weight: bolder;
  font-size: larger;
}

