.table {
  width: 100%;
  font-size: large;
  border: 1px solid black;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(114, 114, 114);
}

.table th {
  background-color: #1e1e1e;
  color: #fff;
}

.table tr:hover {
  background-color: #20202093;
}

.portraitImg {
  width: 120px;
}

.character,
.material {
  width: 40%;
  font-size: larger;
}

.domain {
  width: 20%;
  font-size: larger;
}

.displayText {
  font-weight: bolder;
  font-size: larger;
  min-width: 200px;
}

