.group {
  border-radius: 10px;
  padding: 10px;
}

.heading {
  padding-left: 20px;
  font-size: 28px;
}

.regText {
  padding-left: 30px;
}

.week {
  border: 1px solid rgb(102, 102, 102);
  padding: 10px;
}

.portraitContainer {
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
  flex-wrap: wrap;
}

.image {
  background-color: rgb(30, 30, 30);
  border: 1px dashed rgb(78, 78, 78);
  border-radius: 10px;
  margin: 2px;
}
